<html ng-app="Map-Editor">
    
   <head>
       
        <title>[Codecatch] Map Editor</title>
       
        <!-- Leaflet -->
        <script src="leaflet-0.7.3/leaflet.js"></script>
        <link rel="stylesheet" href="leaflet-0.7.3/leaflet.css" />
        
       <!-- Bootstrap -->
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css" />
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
        
        <!-- Angular.js -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="js/app.js"></script>
        
        <!-- jQuery -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        
        <!-- UI-Bootstrap -->
        <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        
        <!-- Bootstrap-Filestyle -->
        <script src="js/bootstrap-filestyle.js"></script>
        
        <!-- etc -->
        <script src="js/editor.js"></script>
        <link rel="stylesheet" href="css/editor.css" /> 
        
    
         
    </head>
    
    
    
    <body>
        

        
        
        <div ng-controller="ModalController">
        
        <script type="text/ng-template" id="configureMarker.html">
            <div class="modal-header">
                <h3 class="modal-title">Marker Info</h3>

            </div>
            <div class="modal-body">
                Name <input class="form-control input-sm" type="text" ng-model="poiname" placeholder="add name here"/> </br>
                Info <input class="form-control input-sm" type="text" ng-model="poiinfo" placeholder="add info here" /> </br>      
            </div>
            <div class="modal-footer">

                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>

        </script>
            
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        
                        <a href="">
                            [Codecatch] Map Editor
                        </a>
                    </li>

                    <span class="btn btn-default btn-file btn-block glyphicon glyphicon-folder-open"> Open Map File
                     <input type="file" onchange="previewFile()">
                    </span>
                    
                    <span class="btn btn-default btn-file btn-block glyphicon glyphicon-map-marker" ng-click="configMark()"> Add Marker </span>
                       
                    <span class="btn btn-default btn-file btn-block glyphicon glyphicon-download" onclick="makeCoordList()"> Download Coord-List </span>

                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            
                            <div id="map"></div>
                                
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->
        </div>
        

        <script>
                
            var i = 1; 
            var markerArray = new Array();    

            var midWidth = 0;
            var midHeight = 0;    


            var mapMinZoom = 0;
            var mapMaxZoom = 0;
            var map = L.map('map', {
              maxZoom: mapMaxZoom,
              minZoom: mapMinZoom,
                
              crs: L.CRS.Simple
            }).setView([0, 0], mapMaxZoom);
            
            var mapBounds = new L.LatLngBounds(
                map.unproject([0, 1000], mapMaxZoom),
                map.unproject([1000, 0], mapMaxZoom));

            imageBounds = [map.unproject([0, 1000], mapMaxZoom), map.unproject([1000, 0], mapMaxZoom)];

            map.fitBounds(imageBounds);
                
        </script>    
        
    </body>
    
    
</html>